<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    @model List<PreAgendamento>
@{
    ViewData["Title"] = "Lista de marcações conosco:";
}
<h1>@ViewData["Title"]</h1>

@foreach (PreAgendamento agendamento in Model)
{
    <h2>@agendamento.Nome , Segue seu agendamento: </h2>
}
<table class="table">
    <thead>
        <tr>
            <td>Seu nome</td>
            <td>Seu telefone</td>
            <td>Destino desejado</td>
            <td>Se você possui passaporte</td>
            <td>Sua data e hora</td>
        </tr>
    </thead>
    
@foreach (PreAgendamento agendamento in Model)
{
    <tr>
        <td>@agendamento.Nome</td>
        <td>@agendamento.Telefone</td>
        <td>@agendamento.Destino</td>
        <td>@agendamento.Passaporte</td>
        <td>@agendamento.DataDesejada</td>
    </tr>
}
</table>
</body>
</html>